name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]  # при пуше в main
  pull_request:
    branches: [ "main" ]  # при создании PR

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/best-practice-demo:latest
            ${{ secrets.DOCKER_USERNAME }}/best-practice-demo:${{ github.sha }}
